# Подготовка данных к обучения нейронной сети

## Импорт библиотек

In [12]:
import pandas as pd
import numpy as np

## Открытие данных

In [2]:
df = pd.read_csv('../clean_categorizated_data_without_outliers_with_coordinates_and_amenities.csv', sep=';')

In [3]:
df.sample(3)

,number of rooms,area of apartment,number of floors,apartment floor,price,year of construction,elevator,full address,concierge,garbage chute,...,parking_открытая во дворе,parking_наземная многоуровневая,parking_подземная,lat,lon,edu,health,culture,eat,distance
627,2,44.0,9,3,2650000.0,1975,1.0,"Пермский край, Пермь, ул. Маршала Толбухина, 12",0,1,...,0.0,0.0,0.0,58.102445,56.303729,4.0,4.0,2.0,12.0,11126.47
174,1,38.4,10,7,3790000.0,2006,0.0,"Пермский край, Пермь, шоссе Космонавтов, 166А",0,0,...,0.0,0.0,0.0,57.968301,56.145400,8.0,14.0,2.0,72.0,6821.71
940,1,38.0,5,4,2500000.0,1963,0.0,"Пермский край, Пермь, ул. Баумана, 1",0,0,...,0.0,0.0,0.0,57.987884,56.200488,42.0,39.0,11.0,359.0,3035.67

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1767 entries, 0 to 1766
Data columns (total 43 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   number of rooms                  1767 non-null   int64
 1   area of apartment                1767 non-null   float64
 2   number of floors                 1767 non-null   int64
 3   apartment floor                  1767 non-null   int64
 4   price                            1767 non-null   float64
 5   year of construction             1767 non-null   int64
 6   elevator                         1767 non-null   float64
 7   full address                     1767 non-null   object
 8   concierge                        1767 non-null   int64
 9   garbage chute                    1767 non-null   int64
 10  repair_дизайнерский              1767 non-null   float64
 11  repair_евро                      1767 non-null   float64
 12  repair_косметический             1767 non-null   float64
 13  repair_требует ремонта           1767 non-null   float64
 14  bathroom_несколько               1767 non-null   float64
 15  bathroom_раздельный              1767 non-null   float64
 16  bathroom_совмещенный             1767 non-null   float64
 17  terrace_балкон                   1767 non-null   float64
 18  terrace_лоджия                   1767 non-null   float64
 19  terrace_нет                      1767 non-null   float64
 20  type of house_блочный            1767 non-null   float64
 21  type of house_деревянный         1767 non-null   float64
 22  type of house_кирпичный          1767 non-null   float64
 23  type of house_монолитный         1767 non-null   float64
 24  type of house_панельный          1767 non-null   float64
 25  district_Дзержинский             1767 non-null   float64
 26  district_Индустриальный          1767 non-null   float64
 27  district_Кировский               1767 non-null   float64
 28  district_Ленинский               1767 non-null   float64
 29  district_Мотовилихинский         1767 non-null   float64
 30  district_Орджоникидзевский       1767 non-null   float64
 31  district_Свердловский            1767 non-null   float64
 32  parking_за шлагбаумом во дворе   1767 non-null   float64
 33  parking_открытая во дворе        1767 non-null   float64
 34  parking_наземная многоуровневая  1767 non-null   float64
 35  parking_подземная                1767 non-null   float64
 36  lat                              1767 non-null   float64
 37  lon                              1767 non-null   float64
 38  edu                              1767 non-null   float64
 39  health                           1767 non-null   float64
 40  culture                          1767 non-null   float64
 41  eat                              1767 non-null   float64
 42  distance                         1767 non-null   float64
dtypes: float64(36), int64(6), object(1)
memory usage: 593.7+ KB

## Удаление из данных полного адреса

In [5]:
df = df.drop('full address', axis=1)

## Приведение типов к float32

In [15]:
df = df.astype(np.float32)

## Итоги подготовки данных

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1767 entries, 0 to 1766
Data columns (total 42 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   number of rooms                  1767 non-null   float32
 1   area of apartment                1767 non-null   float32
 2   number of floors                 1767 non-null   float32
 3   apartment floor                  1767 non-null   float32
 4   price                            1767 non-null   float32
 5   year of construction             1767 non-null   float32
 6   elevator                         1767 non-null   float32
 7   concierge                        1767 non-null   float32
 8   garbage chute                    1767 non-null   float32
 9   repair_дизайнерский              1767 non-null   float32
 10  repair_евро                      1767 non-null   float32
 11  repair_косметический             1767 non-null   float32
 12  repair_требует ремонта           1767 non-null   float32
 13  bathroom_несколько               1767 non-null   float32
 14  bathroom_раздельный              1767 non-null   float32
 15  bathroom_совмещенный             1767 non-null   float32
 16  terrace_балкон                   1767 non-null   float32
 17  terrace_лоджия                   1767 non-null   float32
 18  terrace_нет                      1767 non-null   float32
 19  type of house_блочный            1767 non-null   float32
 20  type of house_деревянный         1767 non-null   float32
 21  type of house_кирпичный          1767 non-null   float32
 22  type of house_монолитный         1767 non-null   float32
 23  type of house_панельный          1767 non-null   float32
 24  district_Дзержинский             1767 non-null   float32
 25  district_Индустриальный          1767 non-null   float32
 26  district_Кировский               1767 non-null   float32
 27  district_Ленинский               1767 non-null   float32
 28  district_Мотовилихинский         1767 non-null   float32
 29  district_Орджоникидзевский       1767 non-null   float32
 30  district_Свердловский            1767 non-null   float32
 31  parking_за шлагбаумом во дворе   1767 non-null   float32
 32  parking_открытая во дворе        1767 non-null   float32
 33  parking_наземная многоуровневая  1767 non-null   float32
 34  parking_подземная                1767 non-null   float32
 35  lat                              1767 non-null   float32
 36  lon                              1767 non-null   float32
 37  edu                              1767 non-null   float32
 38  health                           1767 non-null   float32
 39  culture                          1767 non-null   float32
 40  eat                              1767 non-null   float32
 41  distance                         1767 non-null   float32
dtypes: float32(42)
memory usage: 290.0 KB

In [17]:
df.sample(3)

,number of rooms,area of apartment,number of floors,apartment floor,price,year of construction,elevator,concierge,garbage chute,repair_дизайнерский,...,parking_открытая во дворе,parking_наземная многоуровневая,parking_подземная,lat,lon,edu,health,culture,eat,distance
394,3.0,77.300003,16.0,2.0,6800000.0,2015.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,57.990772,56.240330,60.0,42.0,11.0,389.0,2281.229980
1239,4.0,85.000000,9.0,1.0,4000000.0,1991.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,58.004005,56.303143,53.0,29.0,6.0,299.0,4401.890137
209,2.0,54.299999,16.0,1.0,3390000.0,2000.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,57.995262,56.286102,58.0,32.0,8.0,346.0,3742.560059

In [18]:
df.to_csv('../final_data.csv', sep=';', index=False)

__В ходе шестой обработки были:__
1. отброшены не числовый признаки
2. все числовые признаки были приведены к типу float